<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      .posts {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    <%- include('./../common/header.ejs') -%>

    <!-- Main Section -->
    <div class="container card pb-5 pt-2 mt-5" style="max-width: 500px">
      <h2 class="m-2 text-center">Login Form</h2>
      <% if(error){ %>
      <p style="color: red" class="text-center"><%=error%></p>
      <%}%>
      <form method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
          />
        </div>
        <button type="submit" style="width: 100%" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
    <!-- Footer -->
    <%- include('./../common/footer') -%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
